body{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(73, 32, 85);
    color: rgb(190, 178, 178);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    /* margin: 2rem; */
}

#button{
    position: relative;
    font-size: 1.75rem;
    border: rgb(68, 68, 68) 2px solid;
    border-radius: 25px;
    background-color: rgb(199, 196, 19);
    color: rgb(26, 21, 21);
    width: 200px;
    height: 50px;
    outline: none;
    cursor: pointer;
    margin: 4rem 0 2rem 0;
}

#button:active{
    background-color: rgb(233, 229, 27);
    color: rgb(128, 31, 31);
    box-shadow: 0 0 12px 1px rgba(231,234,455,.75);
}

#display,
#counter{
    font-size: 30px;
    font-style: bold;
}